@charset "UTF-8";

/* Noto Sans KR 폰트 적용 */
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 500;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');}
body {
	font-family: 'Noto Sans KR', sans-serif;
	
}

input {
	font-family: 'Noto Sans KR', sans-serif;
}
 

/* a 태그 */
a {
	text-decoration-line: none;
}

/* .a_undo { 
	text-align: center; 
	margin-top:20px;
}
.button1 {
	width: 100%;
	padding: 10px;
	background-color: #00aaff;
	color: white;
	border: none;
	border-radius: 15px;
	cursor: pointer;
	white-space: nowrap;
}*/

textarea {
	resize: none !important;
}

